@font-face {
    font-family: 'parry-hotter';
    src: URL('../../font/parry-hotter.regular.ttf') format('truetype');
}

.home {
    width: 100%;
    height: 100%;
    flex-direction: column;

    .home__title {
        font-family: 'parry-hotter';
        font-size: 3rem;
        font-weight: 400;
        margin: 0 auto;
        text-align: center;
        line-height: 1.5;
        padding: 0.5rem;
    }
}