@font-face {
  font-family: "parry-hotter";
  src: URL("./font/parry-hotter.regular.ttf") format("truetype");
}

@font-face {
  font-family: "filson-regular";
  src: URL("./font/Filson.Soft/FilsonProRegular-Regular.otf") format("opentype");
}

@font-face {
  font-family: "filson-bold";
  src: URL("./font/Filson.Soft/FilsonProBold-Bold.otf") format("opentype");
}

@font-face {
  font-family: "filson-thin";
  src: URL("./font/Filson.Soft/FilsonProThin-Thin.otf") format("opentype");
}

@font-face {
  font-family: "filson-medium";
  src: URL("./font/Filson.Soft/FilsonProMedium-Medium.otf") format("opentype");
}
